@import "../../variables";

.admin__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        color: white;
        margin-top: 2rem;
    }
}

.admin-btn {
    display: flex;
    gap: 1rem;
    margin: 2rem;

    > button {
        background-color: var(--dark-clr);
        color: var(--text-clr);
        font-family: var(--font-three);
        border: 2px solid rgb(114, 114, 114);
        width: 110px;
        height: 50px;
        cursor: pointer;
        transition: border 0.5s ease;
    }

    button:hover {
        border: 2px solid rgb(255, 255, 255);
    }
}